@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Ensure no extra margin or padding is applied globally */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100; /* Ultra-light weight */
  src: url("https://fonts.gstatic.com/s/inter/v12/UcCO3Fwr8zN3XsbJ5xAQ8WcI.ttf") format("truetype");
}
  